* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 300px;

}

header div{
    width:600px;
    height:80px;
    background-color: rgb(149, 149, 149);    
    font-size: 24px;
    color:rgb(46, 45, 45);
    margin: 0 auto;
}
.todo{
    padding-left:240px;
    padding-top:20px;
    margin-bottom: 40px;
}

.task {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    opacity: 0;
    transition: 2s;
    animation:show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s; 

}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 2;
    }
}
.check{
    padding-left:15px;
}
form{
    display: flex;
    justify-content: center;
    padding-top:15px;
}
.addButton{
    margin-left: 15px;
}